<!DOCTYPE html>
<html>
    <head>
        <title> 
            {% block title %}
            {{ title }}
            {% endblock %}
        </title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
            
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/goodTomatoesCSS.css') }}">
            <script>
            jQuery(document).ready(function(){
                $("#loadier").delay(1000).fadeOut(1000, function(){
                    $("#welcomeToUs").fadeIn(1000);
                });
            });
            </script>
    </head>
        {% block body %}
        <body>
                <div class = "container">
                        <nav class="navbar navbar-expand-lg fixed-top" style="background-color:rgba(240, 248, 255,0.4)" >
                            <!-- <span class = "nav-brand brand" id = "top"> Good Tomatoes </span> -->
                            <div id="navbarNav">
                                    <ul class = "nav nav-pills nav-fill">
                                        <li class = "nav-item">
                                            <a class = "nav-link active " href = "{{ url_for('root') }}"> Home </a>
                                        </li>
                                        <li class = "nav-item">
                                            <a class = "nav-link " href = "{{ url_for('movie') }}"> Movie Review </a> 
                                        </li>
                                        <li class = "nav-item">
                                            <a class = "nav-link" href = "{{ url_for('book') }}"> Book Review </a>    
                                        </li>
                                    </ul>
                                </div>
                        </nav>
                    </div>
            {% set messages = get_flashed_messages() %}
            {% for message in messages %}
                <h3 class = "flash">{{message}}</h3>
            {% endfor %}   
        </body>
        {% endblock %}
</html>
