{% extends "base.html" %}

{% block body %}
<body class = "welcome">
<div id = "loader">
    yes
</div>
<div class = "container" id = "welcomeToUs">
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color:rgba(240, 248, 255,0.4)" >
        <!-- <span class = "nav-brand brand" id = "top"> Good Tomatoes </span> -->
        <div id="navbarNav">
                <ul class = "nav nav-pills nav-fill">
                    <li class = "nav-item">
                        <a class = "nav-link active " href = "{{ url_for('root') }}"> Home </a>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link " href = "{{ url_for('moviepage') }}"> Movie Review </a>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" href = "{{ url_for('bookpage') }}"> Book Review </a>
                    </li>
                </ul>
            </div>
    </nav>
</div>
<div class = "container-fluid centerBox border-sucess">
    <div class = "containter-fluid teamName">
        Good Tomatoes
    </div>
</div>

<div class="col-lg-6">
    <form action="/searched" method="post">
        <input type="text" name="q" class="form-control textField left" placeholder="Type a title!">
        <input type="submit" value="Squash!" formmethod="post" class="squashButton btn btn-secondary left"></button>
    </form>
</div>
<!--
<div class="searchbar">
  <form action="/searched" method="post">
    <input class = "textField" type="text" name="q" placeholder="Search For a Book and/or a Movie!">
    <input type="submit" value="Search!">
  </form>
</div>
-->


{% set messages = get_flashed_messages() %}
{% for message in messages %}
    <h3 class = "flash">{{message}}</h3>
{% endfor %}
</body>
{% endblock %}
