{% extends "base.html" %}

{% block body %}
<body class = "withNav">
        <div class = "container">
                <nav class="navbar navbar-expand-lg fixed-top" style="background-color:rgba(240, 248, 255,0.4)" >
                    <!-- <span class = "nav-brand brand" id = "top"> Good Tomatoes </span> -->
                    <div id="navbarNav">
                            <ul class = "nav nav-pills nav-fill">
                                <li class = "nav-item">
                                    <a class = "nav-link" href = "{{ url_for('root') }}"> Home </a>
                                </li>
                                <li class = "nav-item">
                                    <a class = "nav-link " href = "{{ url_for('searchedmovie') }}"> Movie Review </a>
                                </li>
                                <li class = "nav-item">
                                    <a class = "nav-link active" href = "{{ url_for('searchedbook') }}"> Book Review </a>
                                </li>
                            </ul>
                        </div>
                </nav>
            </div>

<h2> These are the {{type}} results for {{search}}! Click any one of them to see full reviews! </h2>

    {% if dict != 'none' %}
          {% for title in dict %}
              <input type="submit" value={{dict['title']['bookid']}} name = "bookID">
              {{title}}
              <br><br><br>
          {% endfor %}
    {% else %}
          <h2> There are no {{type}} reviews to display for {{search}}! </h2>
    {% endif %}

    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
        <h3 class = "flash">{{message}}</h3>
    {% endfor %}
</body>
{% endblock %}
