{% extends "base.html" %}

{% block body %}
<body>
        <div class = "container">
                <nav class="navbar navbar-expand-lg fixed-top" style="background-color:rgba(240, 248, 255,0.4)" >
                    <!-- <span class = "nav-brand brand" id = "top"> Good Tomatoes </span> -->
                    <div id="navbarNav">
                            <ul class = "nav nav-pills nav-fill">
                                <li class = "nav-item">
                                    <a class = "nav-link" href = "{{ url_for('root') }}"> Home </a>
                                </li>
                                <li class = "nav-item">
                                    <a class = "nav-link " href = "{{ url_for('searchedmovie') }}"> Movie Review </a>
                                </li>
                                <li class = "nav-item">
                                    <a class = "nav-link" href = "{{ url_for('searchedbook') }}"> Book Review </a>
                                </li>
                            </ul>
                        </div>
                </nav>
            </div>

    <form action="/searchedbook" method="post">
          <input type="hidden" name="q" value = {{title}}>
          <input type="submit" value="See Book Reviews!">
    </form>

    <form action="/searchedmovie" method="post">
          <input type="hidden" name="q" value = {{title}}>
          <input type="submit" value="See Movie Reviews!">
    </form>

</body>
{% endblock %}
