{% extends "base.html" %}

{% block body %}
<body class = "welcome">
<div id = "loader">
    yes
</div>

<div class = "container jumbotron titleTron" style="width:40%;">
    <div class="teamName">
        <h1>Good Tomatoes</h1>
    </div>
</div>

<div class = "container-fluid jumbotron  jumbotron-fluid titleTron">

<div class="col-lg-6" style = "display:block; margin: auto auto; width:28%;">
    <div class = "titleTron jumbotron" >
        <form action="/searched" method="post" class = "form-inline">
            <input type="text" name="q" class="form-control textField left" placeholder="Type a title!" required >
            <input type="submit" value="Search!" formmethod="post" class="squashButton btn btn-secondary left">
        </form>
    </div>
    </div>
    <div class = "container">
        <h1 class = "display-3"> Welcome! </h1>
        <p class = "lead" style = "text-align: left"> Type in the name of a movie or book into the search bar! We'll display the most relevant movie and book combination that relates to your search term! </p>
    </div>
</div>




{% set messages = get_flashed_messages() %}
{% for message in messages %}
    <h3 class = "flash">{{message}}</h3>
{% endfor %}
</body>
{% endblock %}
