{% extends "base.html" %}

{% block body %}
<body class = "welcome">
<div id = "loader">
    yes
</div>

<div class = "container-fluid centerBox">
    <div class = "containter-fluid teamName">
        Good Tomatoes
    </div>
</div>

<div class="searchbar">
  <form action="/searched" method="post">
    <input type="text" name="q" placeholder="Search For a Book and/or a Movie!">
    <input type="submit" value="Search!">
  </form>
</div>



{% set messages = get_flashed_messages() %}
{% for message in messages %}
    <h3 class = "flash">{{message}}</h3>
{% endfor %}
</body>
{% endblock %}
