/* General CSS */
.textField{
    padding: 10px;
    border: none;
    border-bottom: solid 3px #c9c9c9;
    transition: border .5s ease;
}

.textField:focus{
    border: solid 5px #969696;
}

.textField:hover:not(:focus){
    border-bottom: solid 5px #969696;
}


/* Pages CSS */

.searchbar input[type=text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#welcomeToUs{
    background-color: red;
}
.welcome{
    background: url("../images/nightsky.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}
/* NavBar CSS*/

nav > span.brand{
    background-color: lightgreen;
    color: crimson;
}

.nav-pills > li > a.active {
    background-color: crimson!important;
}

.nav-pills > li > a {
    background-color: white!important;
    border: 1px solid black;
    color: crimson;
    transition: .5s ease;
}

.nav-pills > li > a:hover {
    background-color: crimson!important;
    border: 1px solid black;
    color: white;
}

/* Misc. CSS */
body{
    padding-top: 60px;
}
form{
    overflow:hidden;
}

.left {
    float:left;
}

.right{
    float:right;
}

.centerBox{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 3px;
    border-radius: 2px;
    margin: auto auto;
    padding: 35px;
    font-family: OpenSans-Light;
    border:5px solid lightgreen;
    width:25%;
    text-align:center;
    transition: 1s ease;
}

.centerBox:hover{
    border: 5px solid cyan;
    background-color: white;
}
.teamName{
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid green;
}

/* Flash messages */
.flash{
    font-weight:bold;
    text-align:center;
}

/* ========================================================= */


.welcomeTitle{
    background-color: white;
    box-shadow: 0px 0px 3px;
    border-radius: 2px;
    width: 1024px;
    margin:auto auto;
    padding: 35px;
    font-family: OpenSans-Light;
    border:5px solid lightgreen;
    transition: 1s ease;
}

.welcomeTitle:hover{
    border: 5px solid grey;
}

.accountBox{
    background-color: white;
    box-shadow: 0px 0px 3px;
    border-radius: 2px;
    margin:auto auto;
    font-family: OpenSans-Light;
    border:5px solid lightBlue;
    transition: 1s ease;
    text-align:center;
    overflow:hidden;
    width:30%;
}

.accountBox:hover{
    border-color: cyan;
}

.viewStoryBox {
    background-color: white;
    box-shadow: 0px 0px 3px;
    border-radius: 2px;
    width: 1024px;
    max-width: 85%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 35px;
    font-family: OpenSans-Light;
    border:5px solid lightgreen;
    transition: border 1s ease;
}

.viewStoryBox:hover{
    border: 5px solid rgb(3, 66, 3)
}

.enterTitle{
    display:flex;
    position:relative;
    margin:4px auto;
    width:30%;
    flex-direction:row;
    box-shadow: 1px 1px 0 green;
    transition: 1s ease;
}
.optionBox{
    background-color: white;
    box-shadow: 0px 0px 3px;
    width:50%;
    border-radius: 2px;
    margin:auto auto;
    font-family: OpenSans-Light;
    border:5px solid orange;
    transition:1s ease;

    overflow:hidden;
}

.optionBox:hover{
    border-color: red;
}

/* Create new Story */

.enterTitle:hover{
    display:flex;
    position:relative;
    margin:4px auto;
    width:30%;
    flex-direction:row;
    box-shadow: 2px 2px 0 green,
        4px 4px 0 green,
        6px 6px 0 green,
        8px 8px 0 green,
        10px 10px 0 green,
        12px 12px 0 green,
        14px 14px 0 green,
        16px 16px 0 green,
        18px 18px 0 green,
        20px 20px 0 green;
}

.enterTitle input[type=text], .enterTitle input[type=button]{
    display:block;
    /*font:*/
}

.enterTitle input[type=text]{
    flex:1;
    padding:4px;
    border: 4px solid green;

}

.enterTitle input[type=submit]{
    padding: 2px 2px;
    background-color:  gray ;
    border: 4px solid gray ;
    color: black;
    border: none;
}

/* Login Animations + Buttons */
.accountField{
    padding: 10px;
    border: none;
    border-bottom: solid 3px #c9c9c9;
    transition: border 1s ease;
}

.accountField:focus{
    border: solid 5px #969696;
}

.accountField:hover:not(:focus){
    border-bottom: solid 5px #969696;
}

.register{
    display: block;
    transition: 1s ease;
    -webkit-transition: 1s ease;
}
.register:hover, .register:focus{
    box-shadow: inset 0 0 0 4em pink;
    color: #333;
}

/* Buttons */
.login{
    display: block;
    transition: 1s ease;
    -webkit-transition: 1s ease;
}

.login:hover, .login:focus{
    box-shadow: inset 8em 0 0 0 lightgreen,
        inset -8em 0 0 0 lightgreen;
        color: #333;
}

.back{
    display: block;
    transition: 1s ease;
    -webkit-transition: 1s ease;
}

.back:hover, .back:focus{
    box-shadow:inset -10em 0 0 0 pink;
    color: #333;
}

.editStoryButton{
    display: block;
    transition: 1s ease;
    -webkit-transition: 1s ease;
}
.editStoryButton:hover, .editStoryButton:focus{
    box-shadow: inset 0 -8em 0 0 pink;
    color: #333;
}

.viewStory{
    display:block;
    transition: 1s ease;
    -webkit-transition: 1s ease;
}

.viewStory:hover, .viewStory:focus{
    display: block;
    box-shadow: inset 0 -8em 0 pink;
    color: #333;
}

.selectStory{
    display: block;
    transition: 1s ease;
    -webkit-transition: 1s ease;
}

.selectStory:hover, .selectStory:focus{
    box-shadow: inset 0 0 0 4em pink;
    color: #333;
}

.logout{
    display:block;
    transition: 1s ease;
    -webkit-transition: 1s ease;
}

.logout:hover, .logout:focus{
    display: block;
    box-shadow: inset 0 4em 0 pink;
    color: #333;
}

.editText{
    width:95%;
    border: 2px solid lightblue;
    transition: 1s ease;
    color: #333;
}

.editText:hover, .editText:focus{
    border: 4px solid cyan;
    color: #333;
}

.editBox{
    border: 2px solid lightblue;
    transition: 1s ease;
}

.editBox:hover, .editBox:focus{
    border: 4px solid cyan;
    color: #333;
}
